<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nobis labore iste molestiae praesentium doloremque minima tempore, eligendi laborum libero iure ducimus quibusdam fuga ipsam debitis dolorum voluptate veritatis corporis atque cumque excepturi quos qui est! Iste iusto quae exercitationem.</p>
    </div>
</div>